html{
    height: 100vh;
    background: black;
    color: white;
    font-family: Helvetica, sans-serif
}

main{
    height: 100vh;
    position: relative;
}

#content {
    max-height: 90vh;
    max-width: 90vw;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

a{
    color: white;
}

a:first-of-type{
    text-decoration: none;
}

a:active{
    color:lightgray;
}