html, body {margin: 0; height: 100%;}

html{
    background: black;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.25em;
}

img{
    transform: translate(-50%, 0%);
}

img:hover{
    transform: translate(-50%, 0%) scaleX(-1);
}

#links {
    max-height: 90vh;
    max-width: 90vw;
    margin-top: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    margin-bottom: 20%;
}

a{
    color: white;
}

a:first-of-type{
    text-decoration: none;
}

a:active{
    color:lightgray;
}

.video-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
}

.video-container iframe, .video-container object, .video-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}